<section class="py-8 lg:py-16 bg-slate-200">
  <div
    class="container mx-auto px-4 lg:px-0 flex flex-col lg:flex-row justify-between items-center gap-4"
  >
    <div class="flex flex-col gap-4 items-center justify-center">
      <div
        class="bg-primary p-4 rounded-full flex items-center justify-center w-20 lg:w-24 h-20 lg:h-24"
      >
        <img
          class="w-full h-full"
          alt="Ícone de torneios e eventos"
          src="../../../../../assets/icons/tournment-events.png"
        />
      </div>

      <p class="text-primary text-lg lg:text-xl text-center">Torneios e eventos</p>
    </div>

    <div class="flex flex-col gap-4 items-center justify-center">
      <div
        class="bg-primary p-5 rounded-full flex items-center justify-center w-20 lg:w-24 h-20 lg:h-24"
      >
        <img
          class="w-full h-full"
          alt="Ícone de ambiente familiar"
          src="../../../../../assets/icons/family-environment.png"
        />
      </div>

      <p class="text-primary text-lg lg:text-xl text-center">Ambiente familiar</p>
    </div>

    <div class="flex flex-col gap-4 items-center justify-center">
      <div
        class="bg-primary p-5 rounded-full flex items-center justify-center w-20 lg:w-24 h-20 lg:h-24"
      >
        <img
          class="w-full h-full"
          alt="Ícone de professores disponíveis"
          src="../../../../../assets/icons/free-teachers.png"
        />
      </div>

      <p class="text-primary text-lg lg:text-xl text-center">Professores disponíveis</p>
    </div>

    <div class="flex flex-col gap-4 items-center justify-center">
      <div
        class="bg-primary p-4 rounded-full flex items-center justify-center w-20 lg:w-24 h-20 lg:h-24"
      >
        <img
          class="w-full h-full"
          alt="Ícone de pratique onde quiser"
          src="../../../../../assets/icons/practice-anywhere.png"
        />
      </div>

      <p class="text-primary text-lg lg:text-xl text-center">Pratique onde quiser</p>
    </div>
  </div>
</section>
