<section
  class="w-full flex flex-col lg:flex-row h-full lg:min-h-screen 2xl:min-h-0 2xl:h-screen bg-amber-50"
>
  <img
    alt="Imagem sobre aulas presenciais"
    class="hidden lg:block h-auto w-full lg:w-1/2 object-cover object-top"
    src="../../../../../assets/images/woman-playing-golf.png"
  />

  <div
    class="flex w-full lg:w-1/2 h-auto flex-col px-4 lg:px-0 gap-4 lg:gap-8 items-center justify-center text-center py-8 lg:py-0"
  >
    <h3 class="text-2xl lg:text-4xl font-medium">Golfe onde estiver</h3>

    <p class="text-justify text-lg lg:text-xl w-full lg:w-10/12">
      Descubra novos horizontes com nossas aulas on-line de golfe, proporcionando uma experiência
      envolvente e personalizada onde quer que esteja. Conecte-se a instrutores especializados,
      aprenda técnicas avançadas, receba feedback em tempo real e integre-se a uma comunidade de
      entusiastas do golfe, tudo sem sair de casa. Experimente a flexibilidade e eficácia das aulas
      on-line, elevando seu jogo a novos patamares, independentemente da sua localização.
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Incluso: </span> 2 aulas por semana
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Período: </span> 6 meses
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Valor: </span> R$2.190,00
    </p>

    <a href="https://api.whatsapp.com/send?phone=5511978716785" target="_blank">
      <app-button>Reservar agora</app-button>
    </a>
  </div>
</section>
