<section
  class="w-full flex flex-col lg:flex-row h-full lg:min-h-screen 2xl:min-h-0 2xl:h-screen bg-slate-200"
>
  <img
    alt="Imagem sobre aulas presenciais"
    class="hidden lg:block h-auto w-full lg:w-1/2 object-cover object-top"
    src="../../../../../assets/images/group-studying-golf.jpeg"
  />

  <div
    class="flex w-full lg:w-1/2 h-auto flex-col px-4 lg:px-0 gap-4 lg:gap-8 items-center justify-center text-center py-8 lg:py-0"
  >
    <h3 class="text-2xl lg:text-4xl font-medium">Golfe para sua empresa</h3>

    <p class="text-justify text-lg lg:text-xl w-full lg:w-10/12">
      No campo de golfe da vida, cada desafio é uma oportunidade de aprimorar sua tacada.
      Enfrente-os com confiança e determinação. Assim como no golfe, o sucesso na vida requer foco,
      paciência e a disposição de superar obstáculos. Mantenha sua visão clara e siga em frente.
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Incluso: </span> 2 aulas por semana
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Período: </span> 6 meses
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Valor: </span> R$2.190,00
    </p>

    <a href="https://api.whatsapp.com/send?phone=5511978716785" target="_blank">
      <app-button>Reservar agora</app-button>
    </a>
  </div>
</section>
