<section
  id="localization"
  class="flex flex-col-reverse lg:flex-row h-full lg:h-[768px] bg-amber-50"
>
  <iframe
    loading="lazy"
    style="border: 0"
    allowfullscreen=""
    class="w-full h-[384px] lg:h-full"
    referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.3398271279593!2d-46.87621192355077!3d-23.484266278852882!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf030061d1b54b%3A0x5b12ac3a8f7ff1e9!2sCtecogolfe%2B1!5e0!3m2!1spt-BR!2sbr!4v1706070790022!5m2!1spt-BR!2sbr"
  ></iframe>

  <div
    class="flex w-full h-full flex-col gap-4 lg:gap-8 items-center justify-center text-center py-8 lg:py-0"
  >
    <h3 class="text-2xl lg:text-4xl font-medium">Localização e contato</h3>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Telefone: </span> (55) 1197871-6785
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Endereço: </span> Av. Dr. Dib Sauaia Neto, 1600 -
      Alphaville, Barueri - SP
    </p>
  </div>
</section>
