<section class="py-8 lg:py-16 bg-amber-50">
  <div class="container mx-auto px-4 lg:px-0 flex flex-col lg:flex-row gap-4 lg:gap-0">
    <div class="flex flex-col justify-center gap-4 w-full lg:w-5/12">
      <h3 class="text-2xl lg:text-4xl font-medium">O clube</h3>

      <p class="text-lg lg:text-xl text-justify lg:text-left">
        Bem-vindo a Go Up Golf Academy - um oásis para os amantes do golfe! Descubra a magia de
        nosso campo, onde tradição e inovação se encontram. Desde [Ano de Fundação], nosso clube tem
        sido um lar para jogadores apaixonados, oferecendo uma experiência única de golfe, educação
        especializada e uma comunidade vibrante.
      </p>
    </div>

    <div class="w-full lg:w-2/12"></div>

    <div class="w-full lg:w-5/12">
      <img src="../../../../../assets/images/ct-eco-golf.jpeg" alt="Imagem do CT ECO GOLF+" />
    </div>
  </div>
</section>
