<section
  class="w-full flex flex-col lg:flex-row h-full lg:min-h-[calc(100vh-7rem)] 2xl:min-h-0 2xl:h-[calc(100vh-7rem)] bg-amber-50"
>
  <img
    alt="Imagem sobre aulas presenciais"
    class="hidden lg:block h-full w-full lg:w-1/2 object-cover object-top"
    src="../../../../../assets/images/logo-and-man.jpeg"
  />

  <div
    class="flex w-full lg:w-1/2 h-auto flex-col px-4 lg:px-0 gap-4 lg:gap-8 items-center justify-center text-center py-8 lg:py-0"
  >
    <h3 class="text-2xl lg:text-4xl font-medium">Aulas presenciais</h3>

    <p class="text-justify text-lg lg:text-xl w-full lg:w-10/12">
      Descubra o fascinante mundo do golfe em nossa metodologia exclusiva goupgolf_academy, onde a
      precisão se encontra com a natureza e bem estar. Transforme cada tacada em uma jornada de
      aprimoramento pessoal, enquanto mergulha em um ambiente acolhedor e dedicado ao seu
      desenvolvimento no esporte. Seja você um iniciante curioso ou um entusiasta experiente, nossa
      abordagem inovadora proporciona uma experiência única, unindo técnica, paixão e progresso.
      Junte-se a nós e descubra o prazer de aperfeiçoar sua habilidade no golfe e na vida em si,
      onde cada momento é uma oportunidade para alcançar novos patamares.
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Incluso: </span> 2 aulas por semana
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Período: </span> 6 meses
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Valor: </span> R$2.190,00
    </p>

    <a href="https://api.whatsapp.com/send?phone=5511978716785" target="_blank">
      <app-button>Reservar agora</app-button>
    </a>
  </div>
</section>
