<section
  class="w-full flex flex-col lg:flex-row h-full lg:min-h-[calc(100vh-7rem)] 2xl:min-h-0 2xl:h-[calc(100vh-7rem)] bg-amber-50"
>
  <img
    alt="Imagem sobre aulas presenciais"
    class="hidden lg:block h-auto w-full lg:w-1/2 object-cover object-top"
    src="../../../../../assets/images/guys-playing-golf.png"
  />

  <div
    class="flex w-full lg:w-1/2 h-auto flex-col px-4 lg:px-0 gap-4 lg:gap-8 items-center justify-center text-center py-8 lg:py-0"
  >
    <h3 class="text-2xl lg:text-4xl font-medium">Visita ao campo em grupo</h3>

    <p class="text-justify text-lg lg:text-xl w-full lg:w-10/12">
      Iniciar a jornada pelo aprimoramento da sensibilidade no golfe é uma abordagem sábia diz Jack
      Corrêa, profissional de golfe. Ao desenvolver a sensibilidade, os praticantes ganham uma
      compreensão mais profunda das nuances do jogo, promovendo uma conexão íntima entre o estado
      emocional de cada jogador e o campo. Essa base sólida estabelece as fundações para uma
      progressão mais fluida para técnicas e fundamentos, garantindo uma evolução mais orgânica e
      sustentável no desenvolvimento do jogador de golfe.
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Incluso: </span> Café da manhã, almoço e caddie
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Período: </span> 7:00 as 17:00
    </p>

    <p class="text-lg lg:text-xl">
      <span class="text-secondary font-medium">Valor: </span> R$1.000,00 por pessoa
    </p>

    <a href="https://api.whatsapp.com/send?phone=5511978716785" target="_blank">
      <app-button>Reservar agora</app-button>
    </a>
  </div>
</section>
